### Framework
build/logs/*

tests/public/assets
tests/app/cache
!tests/app/cache/.gitkeep

tests/app/logs/*
!tests/app/logs/.gitkeep

### Composer
composer.phar
vendor/
composer.lock

### JetBrains Products
.idea/
*.iml
